.container{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(227, 223, 223, 1);
    display: flex;
    width: 80vw;
    height: 90vh;
    border-radius: 10px;
    overflow: hidden;
}

form{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 40px;
}

.inputBox{
    font-size: 22px;
    border-radius: 18px;
    border: none;
    width: 80%;
    height: 40px;
    background-color: rgba(215, 215, 215, 1);
    padding: 30px;
}

.submit{
    background-color: rgba(0, 5, 36, 1);
    width: 60%;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit:hover{
    cursor: pointer;
}

.submit:active{
    background-color: rgb(8, 0, 56);
}

.closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 250ms ease-in-out;
    transform-origin: 50% 50%;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .closeModal:hover {
    transform: rotate(180deg);
    cursor: pointer;
  }

button{
    border: none;
    font-size: 40px;
    background-color: rgba(227, 223, 223, 1);
}