.container{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

form{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100vh;
    gap: 20px;

}

input{
    font-size: 22px;
    border-radius: 18px;
    border: none;
    width: 980px;
    height: 40px;
    background-color: rgba(215, 215, 215, 1);
    padding: 30px;
}

textarea{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    border-radius: 18px;
    border: none;
    width: 980px;
    height: 80px;
    background-color: rgba(215, 215, 215, 1);
    padding: 30px;
}

.submit{
    background-color: rgba(0, 5, 36, 1);
    width: 1040px;
    color: white;
}

.card{
    background-color: rgba(227, 223, 223, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 900px;
    border-radius: 10px

}

.closeModal{
    display: flex;
    justify-content: end;
    
    
}

button{
    border: none;
    font-size: 40px;
}
